.flip-card {
  width: 340px;
  height: 450px;
  border-radius: 6px;
  position: relative;
  perspective: 400px;
}

.flip-card::before,
.flip-card::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: #ffffff;
  border-radius: 6px;
  box-sizing: border-box;
  border: 3px solid #171212;
  transition: 0.6s transform linear;
  backface-visibility: hidden;
}

.flip-card::after {
  background-image: 
    repeating-linear-gradient(
      -45deg,
      #f2ca52,
      #f2ca52 5px,
      #e2ac09 5px,
      #e2ac09 10px
    );
}

.flip-card:hover::after {
  transform: rotateY(180deg);
}

.flip-card::before {
  background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e3/Jolly_Rosso.jpg/1200px-Jolly_Rosso.jpg');
  background-size: contain;
  transform: rotateY(180deg);
  background-color: #ffffff;
}

.flip-card:hover::before {
  transform: rotate(360deg);
}
